#  Mapping Print, Charting Enlightenment

##  Machine Learning Experiment 1: Classifying books by titles and other metadata

Team: Rachel Hendery, Tomas Trescak, Katie McDonough, Michael Falk, Simon Burrows

##  Module 1: pre-processing

In [2]:
# Load libraries

import pandas as pd # for importing and manipulating data
from nltk.tokenize import word_tokenize # 
from from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer # for creating term-document matrix

In [3]:
# Import data

data = pd.read_csv("c:/git/mpce-machine-learning/data/editions_trimmed.csv")

data.head()

,full_book_title,stated_publication_places,number_of_volumes,parisian_keyword
0,"Abrégé de l'Histoire générale des voyages, con...",Paris,23,Histoire
1,Almanach des muses,n.pl.,1,Belles-Lettres
2,Art (l') de peindre sur l'émail,n.pl.,1,Science et Arts
3,"Apparat royal, dictionnaire françois et latin,...",n.pl.,1,Belles-Lettres
4,"Nouvelle (la) Académie des dames, ou histoire ...",n.pl.,1,Belles-Lettres

In [4]:
# Tokenise and normalise the title text

title_words = [] # initialise list
for title in data["full_book_title"]: # loop over titles
    title = title.lower() # to lower case
    tokens = nltk.word_tokenize(title, language='french') # tokenise
    stems = 
    title_words.append(tokens) # append to results list

title_words[1:2]

SyntaxError: invalid syntax (<ipython-input-4-d76ee2de2b56>, line 7)

In [ ]:
# Reshape the title data into term-document matrix

docs = data["full_book_title"].tolist()
vec = CountVectorizer
X = vec.fit_transform(docs)

In [ ]:
foo = title_words[2]